<body>

<div id='box1'>  
	<p id='header'><%= @blog.title%></p>

	<p id='content'><%= @blog.content%></p>
</div>

<% if @user != nil %>
  <% if @blog.user_id == @user.id %>
    <form method="POST" action="/deleteBlog/<%= @blog.id %>">
      <button type="submit" value="Delete">Delete</button>
    </form>

    <form method="GET" action="/update_Blog/<%= @blog.id %>">
      <button type="submit" value="Update">Update</button> 
    </form>

    <% end %>
<% end %>


</body>