<body>

<div>
  <form method="POST" action="/updateBlog/<%= @blog.id %>">
    <input type="text" name="title" value="<%= @blog.title %>">
    <textarea name="content" maxlength="150"><%= @blog.content %></textarea>
    <button type="submit" value="Update">Update</button>
  </form>
<div>

</body>