<body>

	<div id='box1'>
		<p id='header'>Please Login</p>
		<form action="/login" method="post">
			<input type="text" name='username' placeholder="username">
			<input type="text" name='password' placeholder="password">
			<button class='btn' type="submit" value="login">Login</button>
		</form>
	</div>	

	<br>

	<div id='box1'>
		<a href='/signup'>
			<p id='header'>Sign Up</p>
		</a>
	</div>

	<p id='header'>The Newest</p>

	<% @blogs_reverse.each_with_index do |b,i| %>
		<div id='box1'>
			<a href='blogs/<%= b.id %>'>
				<p id='header'>
					<%= b.title %>
				</p> 
			</a>
			<% break if i >= 9  %>
		</div>
		<br>
	<% end %>
	
	
<!-- 	<div id='logout'>
		<p>Logout</p>
		<form action='/logout' method='post'>
			<input type="submit" value="Logout">
		</form>
	</div> -->

</body>