<body>
<p id='header'>Please Login</p>

<form action="/login" method="post">
	<input type="text" name='username' placeholder="username">
	<input type="text" name='password' placeholder="password">
	<input type="submit" value="login">
</form>


<a href='/signup'><h1>Sign Up</h1></a>
<hr>
<% @blogs_reverse.each_with_index do |b,i| %>
	<a href='blogs/<%= b.id %>'><div><%= b.title %></div></a>
	<% break if i >= 9  %>

<% end %>
</body>

