<body>
<h3>Please Login</h3>

<form action="/" method="post">
	<input type="text" placeholder="username">
	<input type="text" placeholder="password">
	<input type="submit" value="login">
</form>

<hr>

<hr>
<% @blogs_reverse.each_with_index do |b,i| %>
	<a href='blogs/<%= b.id %>'><div><%= b.title %></div></a>
	<% break if i >= 9  %>

<% end %>
</body>