<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>MicroBlog</title>
</head>
<body>


	<div class='main-container'>
		<%= yield %>
	</div>
	
</body>
</html>