<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<title>MicroBlog</title>
	</head>

	<body>
		<nav>
			<ul class= "wrapper">
				<li class="block"><a class="active" href="/">Home</a></li>
				<li class="block"><a class="active" href="/blogs">Blogs</a></li>
				<li class="block"><a class="active" href="/bloggers">Bloggers</a></li>
			</ul>
		</nav>

		<div class='main-container'>
			<%= yield %>
		</div>

		<script type="text/javascript" src='../javascript/main.js'></script>
	</body>
</html>