*{
	margin: 0 auto;
}

html { 
    background: url(../img/clouds.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
	margin: 10px;
  resize: none;
}

input {
	width: 25%;
}

.btn {
  color: white;
  background-color: lightblue;
  font-weight: bold;
  border-radius: 10px;
}

.btn:hover {
  border-color: rgb(57, 135, 201);
  background-color: blue;
  border-radius: 10px;
}

.signUp {
  color: white;
  background-color: lightblue;
  font-weight: bold;
  border-radius: 25px;
}
.signUp:hover {
  border-color: rgb(57, 135, 201);
  background-color: blue;
}

#box1 {
	height: 300px;
	width: 650px;
	background-color: rgba(128,128,128, 0.5);
	border: 10px solid rgba(57, 135, 201, 0.5);
	margin: 10px auto;
}

#post{
  margin-left:37.5%;
  width: 25%;
  height: 15%;
}
