
ul {
	list-style-type: none;
}

.wrapper {
	width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    top: 0;
}

#block {
	width: 33.33%;
	float: left;
}

a {
	display: block;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center; 
	padding: 14px 16px;
	text-decoration: none;
}

.block a {
	display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none; 
}

.block:last-child {
    border-right: none;
}


a:hover, a:link {
	color: grey;
	text-decoration: none;
}

