<body>
<p id='header'>Update Account</p>

<form action='/update_user/<%=@user.id %>' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="text" name="password" placeholder='password'>
	<input type="submit" value="Update User">
</form>

<p id='header'>Logout</p>

<form action='/logout' method='post'>
	<input type="submit" value="Logout">
</form>

<hr>



</body>