<p id='header'>Edit form</p>

<form action='/update_user' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="text" name="password" placeholder='password'>
	<input type="submit" value="Update user">


</form>

<hp id='header'>Logout</p>
<form action='/logout' method='post'>
	<input type="submit" value="Logout">
</form>

<hr>

<p id='header'>Delete User</p>
<form action='/delete_user' method='post'>
	<input type="submit" value="Delete Account">
	
</form>