<link rel="stylesheet" type="text/css" href="../../css/main.css">

<body>

	<p id='header'>Update Account</p>

	<form action='/update_user/<%= @user.id %>/edit' method='post'>
		<input type="text" name="username" placeholder='username' required>
		<input type="text" name="password" placeholder='password' required>
		<button class='btn' type="submit" value="Update User">Update User</button>
	</form>

	<p id='header'>Logout</p>
	
	<div id='box1'>
		<form action='/logout' method='post'>
			<button class='btn' type="submit" value="Logout">Logout</button>
		</form>
	</div>
</body>