<body>
<p id='header'>Sign Up</p>


<form class="signupForm" action="/new_user" method="post" onsubmit="event.preventDefault(); validatePassword();">
	<input class="username" type="text" name="username" placeholder="username">
	<input class="password" type="text" name="password" placeholder="password">
	<input class="signUp" type="submit" value="submit">
</form>



<script src="/javascript/signup.js" type="text/javascript" /> 
</body>
